html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


  .slider {
    /* Controla el número de vertices */
    position: fixed;
    display: none;
    top: 5rem;
    width: 35%;
    right: 2rem;
    color: rgba(64, 64, 186, 0.541);
  }

  .slider2 {
    /* Controla el número de anillos al rededor */
    position: fixed;
    display: none;
    top: 7rem;
    width: 35%;
    right: 2rem;
    cursor: pointer;
    color: rgba(64, 64, 186, 0.541);
  
  }

  .slider3 {
    /* Velocidad de rotación */
    position: fixed;
    display: none;
    top: 9rem;
    width: 35%;
    right: 2rem;
    cursor: pointer;
    color: rgba(64, 64, 186, 0.541);
  
  }

  .slider4 {
    /* Controla la altura */
    position: fixed;
    display: none;
    top: 11rem;
    width: 35%;
    right: 2rem;
    cursor: pointer;
    color: rgba(64, 64, 186, 0.541);
  
  }

  .slider5 {
    /*Controla la velocidad que se mueve desde arriba hacia abajo */
    position: fixed;
    display: none;
    top: 13rem;
    width: 35%;
    right: 2rem;
    cursor: pointer;
    color: rgba(64, 64, 186, 0.541);
  
  }

  .slider6 {
    /* Controla la amplitud del movimiento hacia arriba y hacia abajo */
    position: fixed;
    display: none;
    top: 15rem;
    width: 35%;
    right: 2rem;
    cursor: pointer;
    color: rgba(64, 64, 186, 0.541);
  
  }

  .slider7 {
    /* Cambia el color */
    position: fixed;
    display: none;
    top: 17rem;
    width: 35%;
    right: 2rem;
    cursor: pointer;
    color: rgba(64, 64, 186, 0.541);
  }
  
  .button {
    background: rgb(44, 44, 44);
    color: rgb(255, 255, 255);
    border: none;
    display: none;
    padding: .5rem 1rem;
  }
  
  .button:hover {
    background: rgba(72, 72, 72, 0.934);
  
  }
  
  .mouseRotate {
    position: fixed;
    top: 19rem;
    width: 35%;
    right: 2rem;
    
  }

  .rotate {
    position: fixed;
    top: 21.7rem;
    width: 35%;
    right: 2rem;  
  }

  @media (max-width:500px) {
    .rotate {
      top: 22rem;
    }
  }
  
  
  
  .toggle-config {
    position: fixed;
    top: 2.3rem;
    right: 2rem;
    background: none;
    color: white;
    user-select: none;
    width: 1.5rem;
    height: 1.5rem;
    filter: invert();
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
  }
  
  
  
  .logo {
    position: fixed;
    width: 12rem;
    top: 2rem;
    left: 1.2rem;
  
  }